# Exercises - Analysing data with pandas

In [1]:
import pandas as pd
import numpy as np

In [3]:
pd.read_csv("../Tag1/eu2019.csv", delimiter=";")

,Partei,Kreis Nr.,Gebietsbezeichnung,Gültige Stimmen Anzahl,Gültige Stimmen %,Diff. zu 2014 in %-Pkt.
0,CDU,NaN,Bundesrepublik Deutschland,8437093,22.6,-7.5
1,CDU,NaN,Schleswig-Holstein,353789,26.2,-8.2
2,CDU,1001.0,"Flensburg, Stadt",6829,17.3,-8.3
3,CDU,1002.0,"Kiel, Landeshauptstadt",18313,16.8,-6.4
4,CDU,1003.0,"Lübeck, Hansestadt",18416,20.4,-7.1
...,...,...,...,...,...,...
5876,Sonstige,16063.0,Wartburgkreis,3536,5.8,3.8
5877,Sonstige,16064.0,Unstrut-Hainich-Kreis,2413,4.9,2.9
5878,Sonstige,16065.0,Kyffhäuserkreis,2474,6.8,4.8
5879,Sonstige,16066.0,Schmalkalden-Meiningen,3473,5.6,3.6
5880,Sonstige,16067.0,Gotha,3695,5.8,3.9

In [4]:
df = pd.read_csv("../Tag1/eu2019.csv", delimiter=";")
df

,Partei,Kreis Nr.,Gebietsbezeichnung,Gültige Stimmen Anzahl,Gültige Stimmen %,Diff. zu 2014 in %-Pkt.
0,CDU,NaN,Bundesrepublik Deutschland,8437093,22.6,-7.5
1,CDU,NaN,Schleswig-Holstein,353789,26.2,-8.2
2,CDU,1001.0,"Flensburg, Stadt",6829,17.3,-8.3
3,CDU,1002.0,"Kiel, Landeshauptstadt",18313,16.8,-6.4
4,CDU,1003.0,"Lübeck, Hansestadt",18416,20.4,-7.1
...,...,...,...,...,...,...
5876,Sonstige,16063.0,Wartburgkreis,3536,5.8,3.8
5877,Sonstige,16064.0,Unstrut-Hainich-Kreis,2413,4.9,2.9
5878,Sonstige,16065.0,Kyffhäuserkreis,2474,6.8,4.8
5879,Sonstige,16066.0,Schmalkalden-Meiningen,3473,5.6,3.6
5880,Sonstige,16067.0,Gotha,3695,5.8,3.9

In [7]:
df[(df["Partei"] == "CDU") & (df["Gültige Stimmen %"] > 40)]

,Partei,Kreis Nr.,Gebietsbezeichnung,Gültige Stimmen Anzahl,Gültige Stimmen %,Diff. zu 2014 in %-Pkt.
57,CDU,5554.0,Borken,74957,41.5,-10.8
75,CDU,5958.0,Hochsauerlandkreis,51681,41.6,-8.7
77,CDU,5966.0,Olpe,29663,46.0,-7.4
82,CDU,7233.0,Vulkaneifel,12509,41.6,-7.0
3023,CDU,3453.0,Cloppenburg,31382,47.7,-15.7
3024,CDU,3454.0,Emsland,73233,49.3,-13.5
3030,CDU,3460.0,Vechta,31666,48.9,-16.2
3082,CDU,7135.0,Cochem-Zell,13926,42.6,-10.2
3115,CDU,8426.0,Biberach,37175,40.4,-11.8
3118,CDU,8437.0,Sigmaringen,24484,40.9,-11.2
3155,CDU,16061.0,Eichsfeld,21896,41.8,-9.1

In [10]:
df[(df["Partei"] == "CDU")].describe()

,Kreis Nr.,Gültige Stimmen Anzahl,Gültige Stimmen %,Diff. zu 2014 in %-Pkt.
count,307.000000,3.230000e+02,323.000000,323.000000
mean,7973.260586,7.410284e+04,27.454489,-7.579567
std,4249.611974,4.961015e+05,6.446628,2.556119
min,1001.000000,1.200000e+01,10.800000,-16.200000
25%,5168.000000,1.178500e+04,23.400000,-9.100000
50%,7211.000000,2.189600e+04,26.900000,-7.500000
75%,11995.500000,3.652550e+04,31.100000,-6.200000
max,16077.000000,8.437093e+06,49.300000,0.400000

In [11]:
df[(df["Partei"] == "CDU")].mean()

Kreis Nr.                   7973.260586
Gültige Stimmen Anzahl     74102.842105
Gültige Stimmen %             27.454489
Diff. zu 2014 in %-Pkt.       -7.579567
dtype: float64

In [12]:
df[(df["Partei"] == "CDU")].std()

Kreis Nr.                    4249.611974
Gültige Stimmen Anzahl     496101.468335
Gültige Stimmen %               6.446628
Diff. zu 2014 in %-Pkt.         2.556119
dtype: float64

In [13]:
df[(df["Partei"] == "CDU")].min()

Partei                           CDU
Kreis Nr.                       1001
Gebietsbezeichnung         Ahrweiler
Gültige Stimmen Anzahl            12
Gültige Stimmen %               10.8
Diff. zu 2014 in %-Pkt.        -16.2
dtype: object

In [8]:
df.head(3)

,Partei,Kreis Nr.,Gebietsbezeichnung,Gültige Stimmen Anzahl,Gültige Stimmen %,Diff. zu 2014 in %-Pkt.
0,CDU,NaN,Bundesrepublik Deutschland,8437093,22.6,-7.5
1,CDU,NaN,Schleswig-Holstein,353789,26.2,-8.2
2,CDU,1001.0,"Flensburg, Stadt",6829,17.3,-8.3

In [9]:
df.tail(3)

,Partei,Kreis Nr.,Gebietsbezeichnung,Gültige Stimmen Anzahl,Gültige Stimmen %,Diff. zu 2014 in %-Pkt.
5878,Sonstige,16065.0,Kyffhäuserkreis,2474,6.8,4.8
5879,Sonstige,16066.0,Schmalkalden-Meiningen,3473,5.6,3.6
5880,Sonstige,16067.0,Gotha,3695,5.8,3.9

#### Gebe alle columns aus

#### Gebe die Partei Spalte aus

#### Welche Parteien sind angetreten?

#### Welche Stimmenanteile konnten die Parteien in Hessen erringen?

#### Welche Partei konnte in Bayern die meisten Stimmenanteile erringen?

#### Was ist Minimum, Maximum und Standardabweichung der Stimmenanteile der CDU?

#### Welche Partei musste in welchem Gebiet den größten Verlust/ Gewinn hinnehmen?

# New Exercise

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

### Step 6. What is the number of columns in the dataset?

### Step 7. Print the name of all the columns.

### Step 8. How is the dataset indexed?

### Step 9. Which was the most-ordered item?

### Step 10. For the most-ordered item, how many items were ordered?

### Step 11. What was the most ordered item in the choice_description column?

### Step 12. How many items were orderd in total?

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

### Step 17. How many different items are sold?

# New Exercise

In [40]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')

### Step 4. See the first 25 entries

### Step 5. See the last 10 entries

### Step 6. What is the number of observations in the dataset?

### Step 7. What is the number of columns in the dataset?

### Step 8. Print the name of all the columns.

### Step 9. How is the dataset indexed?

### Step 10. What is the data type of each column?

### Step 11. Print only the occupation column

### Step 12. How many different occupations there are in this dataset?

### Step 13. What is the most frequent occupation?

### Step 14. Summarize the DataFrame.

### Step 15. Summarize all the columns

### Step 16. Summarize only the occupation column

### Step 17. What is the mean age of users?

### Step 18. What is the age with least occurrence?